:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-dark: hsl(207, 26%, 17%);
  --very-dark-blue-light: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

.light-mode {
  --very-dark-blue-dark: hsl(0, 0%, 94%);
  --dark-blue: hsl(0, 0%, 100%);
  --very-dark-blue-light: hsl(0, 0%, 90%);
  --dark-gray: hsl(0, 0%, 40%);
  --very-light-gray: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 0%);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Nunito Sans";
  color: var(--very-light-gray);
}

.container,
.container__2 {
  width: 100%;
  min-height: 100vh;
  background-color: var(--very-dark-blue-dark);
  padding: 0 10rem;
}

.navbar {
  background-color: var(--dark-blue);
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  padding: 0 10rem;
  align-items: center;

  &__title {
    color: var(--white);
    font-size: 3rem;
    font-weight: 500;
  }

  &__theme {
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    cursor: pointer;
  }
}

svg {
  width: 4rem;
  height: 2.5rem;
  fill: var(--white);
}

.hidden {
  opacity: 0;
  position: absolute;
}

.search {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 5rem;

  &__bg {
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;

    &__btn {
      background-color: var(--dark-blue);
      border: none;
    }

    & svg {
      background-color: var(--dark-blue);
    }
  }

  &__box {
    background-color: var(--dark-blue);
    font-size: 1.6rem;
    border: none;
    border-radius: 0.5rem;
    color: var(--very-light-gray);
    height: 4rem;
    width: 20vw;

    &::placeholder {
      color: var(--dark-gray);
    }

    &:focus {
      outline: none;
    }
  }

  &__sort {
    display: flex;
    flex-direction: column;
    position: relative;

    &-filter {
      font-family: "Nunito Sans";
      margin-bottom: 0.7rem;
      background-color: var(--dark-blue);
      border-radius: 0.5rem;
      border: none;
      height: 6rem;
      color: var(--white);
      font-size: 1.6rem;
      font-weight: 600;
      padding: 2rem;

      & svg {
        height: 1.1rem;
        width: 2rem;
        margin-left: 3.5rem;
      }

      &:focus {
        outline: none;
      }
    }

    &-box {
      margin-top: 7rem;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 10;
      left: 0;
      width: 100%;
      border-radius: 0.6rem;
      overflow: hidden;

      &-option {
        font-family: "Nunito Sans";
        background-color: var(--dark-blue);
        color: var(--white);
        border: none;
        padding: 0.6rem 1.5rem;
        font-size: 1.6rem;
        font-weight: 600;
        text-align: start;
        height: 4rem;
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 29rem));
  grid-template-rows: auto;
  grid-gap: 10rem;
  padding: 5rem;
  justify-content: space-evenly;

  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--dark-blue);
    text-decoration: none;
    color: inherit;

    &__flag {
      width: 100%;
      height: 20rem;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    &__title {
      font-size: 3rem;
      font-weight: 700;
      padding: 2rem;
      color: var(--white);
    }

    &__pop,
    &__region,
    &__capital {
      font-size: 1.5rem;
      margin-left: 2rem;
      margin-bottom: 0.6rem;
      color: var(--white);

      &-font {
        color: var(--white);
      }
    }

    &__capital {
      padding-bottom: 4rem;
    }
  }
}

/* Additional styles for HTML 2 */
.back {
  height: 20rem;
  display: flex;
  align-items: center;
  text-decoration: none;

  &__btn {
    background-color: var(--dark-blue);
    border: none;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.6);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Nunito Sans";
    height: 5rem;
    width: 15rem;
    font-size: 2rem;
    color: var(--white);

    & svg {
      margin-right: -2rem;
    }
  }
}

.section {
  display: flex;
  flex-direction: row;
  gap: 10rem;

  &__left {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.6);
    height: 40rem;

    & img {
      height: 100%;
      width: 100%;
    }
  }
}

.right {
  &__title {
    font-size: 5rem;
  }

  &__box-border {
    &__text {
      font-weight: 600;
      font-size: 2rem;
      display: flex;
      align-items: center;
      gap: 2rem;

      &__countries {
        text-align: center;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
        background-color: var(--dark-blue);
        color: var(--white);
        width: 7rem;
      }
    }
  }
}

.country-card {
  &__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem 0;
    flex-wrap: wrap;
    max-height: 26rem;
  }

  &__detail {
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
  }

  &__value {
    font-weight: 400;
    color: var(--white);
  }
}
